* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --background-color: #fcde67;
    --lighter-background-color: #ffeb9d;
    --hover-background-color: #c0a22a;
    --footer-color: #5bccf6;
    --hover-footer-color: #1cbdf8;
    --active-footer-color: #1587b1;
    --main-color: #030e12;
    --commen-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --Neg-color: rgb(243, 83, 83);
    --hover-Neg-color: rgb(235, 59, 59);
}
html,body{
    height: 100vh;
    min-width: 965px;
    min-height: 300px;
    color: var(--main-color);
}
.main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 90% 5%;
    width: 100%;
    height: 100%;
    background-color: var(--lighter-background-color);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 10px 6px 10px;
    color: var(--lighter-background-color);
    background-color: var(--main-color);
}
.WorkSpace{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 8px;
    border-radius: 2px;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
}
.footer{
    display: grid;
    background-color: var(--footer-color);
    align-items: center;
    justify-items: center;
}
.UsernameBanner{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--hover-background-color);
}
.UsernameBanner:hover{
    cursor: default;
    background-color: var(--background-color);
}
#signoutBtn{
    display: grid;
    place-content: center;
    color: var(--main-color);
    background-color: var(--Neg-color);
    border: none;
    border-radius: 3px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
#signoutBtn:hover{
    cursor: pointer;
    background-color: var(--hover-Neg-color);
}
/* #signoutBtn:visited, #signoutBtn:active, #signoutBtn:link{
    color: var(--main-color);
    background-color: var(--Neg-color);
    font-weight: bold;
    text-decoration: none;
} */
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}
.DoList{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto;
    grid-template-rows: repeat(auto-fill,70px);
    gap: 8px;
    background-color: var(--hover-background-color);
    padding: 2%;
    border-radius: 3px;
}
.DoItem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2px;
    background-color: var(--lighter-background-color);
    padding: 2%;
    border-radius: 3px;
}
.DoItem p{
    display: flex;
    word-break: break-all;
    font-size: 20px;
    text-align: center;
}
.DoItem button{
    background-color: var(--footer-color);
    border: none;
    border-radius: 3px;
    font-family: var(--commen-font);
    font-size: 100%;
    font-weight: bolder;
    padding: 2%;
    height: 100%;
    width: 20%;
    align-content: flex-start;
    justify-content: center;
}
.DoItem button:hover{
    background-color: var(--hover-footer-color);
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 70%;
}
.buttons input{
    height: 45%;
    font-size: 120%;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    font-family: var(--commen-font);
}
.buttons button{
    height: 10%;
    font-size: 90%;
    background-color: var(--footer-color);
    border: none;
    border-radius: 3px;
    font-family: var(--commen-font);
}
.buttons button:hover{
    background-color: var(--hover-footer-color);
}
.filters{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    gap: 3px;
    height: 6%;
    justify-content: space-between;
}
.filters button{
    background-color: var(--footer-color);
    border: none;
    border-radius: 3px;
    font-family: var(--commen-font);
    padding: 0px 10px 0px 10px;
    font-size: 80%;
    width: 32%;
    font-weight: bold;
    text-align: center;
}
.filters button:hover{
    background-color: var(--hover-footer-color);
}
button.active{
    background-color: var(--active-footer-color);
    color: white;
}
.Completed{
    display: flex;
    background-color: var(--hover-footer-color);
}
.Completed button:hover{
    background-color: var(--footer-color);
}
#EditTitle{
    margin-top: 10%;
    height: 20%;
}
.EditBTNs{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    height: 10%;
}
.EditBTNs button{
    background-color: var(--footer-color);
    border: none;
    border-radius: 3px;
    font-family: var(--commen-font);
    padding: 0px 10px 0px 10px;
    font-size: 80%;
    height: 100%;
    width: 45%;
    font-weight: bold;
    text-align: center;
}
.EditBTNs button img{
    width: 20%;
    height: 75%;
    padding-top: 2px;
    justify-content: center;
    align-content: center;
}
.IDKeeper{
    display: none;
}
#NoBTN{
    background-color: var(--Neg-color);
}
#NoBTN:hover{
    background-color: var(--hover-Neg-color);
}
#YesBTN[disabled="true"], #NoBTN[disabled="true"]{
    background-color: var(--lighter-background-color);
}
.ButtonOfItems{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 40%;
}
.ButtonOfItems button{
    width: 31%;
    justify-content: center;
    font-size: 100%;
}
button.RemoveBTN{
    width: 36%;
    padding: 0px 0px 0px 0px;
    background-color: var(--Neg-color);
}
button.RemoveBTN:hover{
    background-color: var(--hover-Neg-color);
}
.server{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    height: 10%;
}
.server form{
    border: none;
    border-radius: 3px;
    height: 100%;
    width: 45%;
}
button.serverBTN{
    width: 100%;
    height: 100%;
    font-family: var(--commen-font);
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
button.serverBTN:hover{
    cursor: pointer;
}
#DownloadBTN{
    background-color: var(--footer-color);
}
#DownloadBTN:hover{
    background-color: var(--hover-footer-color);
}
#UploadBTN{
    background-color: rgb(243, 17, 17);
}
#UploadBTN:hover{
    background-color: rgb(218, 12, 12);
}
.hidden{
    display: none;
}
.headerBTNs{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.gotoLogin{
    display: grid;
    place-content: center;
    color: var(--main-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 3px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.gotoLogin:hover{
    cursor: pointer;
    background-color: var(--hover-background-color);
}
/* .gotoLogin:visited, .gotoLogin:active, .gotoLogin:link{
    color: var(--main-color);
    background-color: var(--background-color);
    font-weight: bold;
    text-decoration: none;
} */